<a href="https://colab.research.google.com/github/michelleorna/data_analytics_2/blob/main/Python/Unit2_L4_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT Unit2_L4_Looping

In [1]:
#Q1 Creating a list that holds 5 data variables
list=['ford', 'honda', 'nissan' , 'bmw', 'tesla']
#Q2 Print out those variables using a for loop
for x in list:
  print(x)

ford
honda
nissan
bmw
tesla

In [2]:
list=['ford', 'honda', 'nissan' , 'bmw', 'tesla']
#Q3 Modify your for loop to add a message to your for loop
for x in list:
  print(x.title() + " has electric cars")

Ford has electric cars
Honda has electric cars
Nissan has electric cars
Bmw has electric cars
Tesla has electric cars

In [3]:
#Q4 Use a for loop to print even numbers from 1-20
for x in range(1,21):
  if (x%2)==0:
   print(x)

2
4
6
8
10
12
14
16
18
20

In [4]:
#Q5 Sort your list in alphabetic order
list=['ford', 'honda', 'nissan' , 'bmw', 'tesla']
list.sort()
print(list)

['bmw', 'ford', 'honda', 'nissan', 'tesla']

In [5]:
#Q6 Print the first three elements of your list
list=['ford', 'honda', 'nissan' , 'bmw', 'tesla']
list[:3]

['ford', 'honda', 'nissan']